@import "compass/css3/";

@include font-face("Roboto", font-files("../../font/roboto/Roboto-Regular.ttf"));
@include font-face("Roboto-Medium", font-files("../../font/roboto/Roboto-Medium.ttf"));
@include font-face("Roboto-Bold", font-files("../../font/roboto/Roboto-Bold.ttf"));
@include font-face("Roboto-Light", font-files("../../font/roboto/Roboto-Light.ttf"));
@include font-face("Roboto-Thin", font-files("../../font/roboto/Roboto-Thin.ttf"));

/*CHANGI ETRS ICON*/
@font-face {
    font-family: 'CHANGI-ETRS-ICON';
    src:    url('/font/changi_etrs/icomoon.eot?vvh8zq');
    src:    url('/font/changi_etrs/icomoon.eot?vvh8zq#iefix') format('embedded-opentype'),
        url('/font/changi_etrs/icomoon.ttf?vvh8zq') format('truetype'),
        url('/font/changi_etrs/icomoon.woff?vvh8zq') format('woff'),
        url('/font/changi_etrs/icomoon.svg?vvh8zq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'CHANGI-ETRS-ICON' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Changi_eTRS_Color:before {
  content: "\e900";
}
.icon-Changi_eTRS_Delete:before {
  content: "\e901";
}
.icon-Changi_eTRS_Enter:before {
  content: "\e902";
}
.icon-Changi_eTRS_Leave:before {
  content: "\e903";
}
.icon-Changi_eTRS_Start:before {
  content: "\e904";
}

/*CHANGI ETRS SURVEY*/
$background_header: #333333;
$background_header_type: #666666;
$background_submit_btn: #54b848;
$white_color: #ffffff;
$border_row: #cccccc;
$background_row: #f7f7f7;
$background_hover_icon: #da5c0c;
$background_disable: #e1e1e1;
$background_input_active: #da5c0c;
$background_input_inactive: #999999;

$main-color: #DA5C0C;
$second-main-color: #16719D;
$second-main-hover-color: #076EA1;

//Reponsive - support IPad Mini (1024x768)
$small-screen: 900px;
$larg-screen: 1280px;

/*PAGE*/
body {
    /*background-color: #e5e5e5;*/
    position: relative;
    z-index: 1;
    font-size: 100%;
    color: #333333;
    font: normal 13px "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.35;
}

.full-page {
    height: 100%;
    width: 100%;
}

* {
	padding: 0;
	margin: 0;
	@include box-sizing(border-box);
}

img {
	vertical-align: middle;
}

select {
	background-color: $white_color;
    outline: none;
}

/*LOADING*/
div.bg-preload {
	display: none;
	position: fixed;
	z-index: 500;
	width: 100%;
	height: 100%;
	left: 0; top: 0;
	background-color: rgba(255,255,255,0.8);
	span.img-loading{
		background: transparent url('/img/loading.gif') 0 0 no-repeat;
		width: 33px;
		height: 33px;
		margin-left: -16px;
		margin-top: -16px;
		left: 50%;
		top: 50%;
		text-indent: -9999px;
		position: fixed;
		z-index: 600;
	}
}

#kiosksSurvey {
	height: 100%;

	md-toolbar .sv-header {
		background-color: $background_header;
		padding: 30px;

		strong {
			color: $white_color;

			@media screen and (max-width: $small-screen) {
				font-size: 14px;
				line-height: normal;
			}

			@media only screen and (min-width: $small-screen + 1) and (max-width: $larg-screen - 1) {
				font-size: 16px;
			}

			@media screen and (min-width: $larg-screen) {
				//min-width: 120px;
			}
		}
				
		.numOfStaff {
			font-size: 20px;
			color: $background_input_active;
		}

		.ico-btn {
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 70px;
			float: left;
			cursor: pointer;
			outline: none;
					
			i {
				font-size: 32px;
				color: $white_color;
				vertical-align: middle;
			}					
		}

		.logout-section {
			float: right;
		}
				
		.ico-logout {
			font-size: 26px;
			line-height: 50px;
			color: #7f7f7f;
			cursor: pointer;
			outline: none;

			&:hover {
				color: $background_hover_icon;
			}
		}

        .label-title{
            font-size: 14px;
            color: white;
        }

        .number-type {
            text-align: right;
            margin-right: 30px;
        }

        .info-title{
            color: aqua; 
            font-size: 26px; 
            font-style: italic;
            font-weight: bold;
            margin-top: 5px;
        }

        .overflow-text{
            width: 85%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        hr {
            border: none;
            height: 1px;
            color: rgba(255,255,255,0.87);
            background-color: rgba(255,255,255,0.87);

            @media screen and (max-width: $small-screen) {
				width: 95%;
			}

			@media only screen and (min-width: $small-screen + 1) and (max-width: $larg-screen - 1) {
				width: 90%;
			}

			@media screen and (min-width: $larg-screen) {
				width: 85%;
			}
        }
	}

    md-toolbar .sv-header-import {
        font-size: 14px;
        color: white;
    }

     md-toolbar .sv-header-action {
        background: #4d4d4d;
        color: white;
        padding-left: 22px;
        padding-right: 14px;
        height: 60px;
    }
    md-toolbar .sv-header-paging {
        background: #707070;
        font-size: 14px;
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        height: 60px;

        .input-page{
            margin: 5px;
            width: 60px;
            height: 40px;
            border-radius: 10px;
            border: 1px solid #dddddd;
            text-align-last: center;
        }

        .number-page{
            float: right;
            font-size: 18px;
        }
    }

	md-content {
		padding: 0;

		md-card {
			padding: 0;
			margin: 0;

			md-card-content {			
				padding: 0px;

				.sv-header-type {
					background-color: $background_header_type;
					color: $white_color;
				}

				.sv-header-detail {
					background-color: $background_disable;
				}

                .comment{
                    height: 50px;
                    line-height: 50px;
                    border-radius: 10px;
                    width: 90%;
                    border: 1px solid #dddddd;
                    outline: none;
                    padding: 2px;
                }
			}

			.sv-btn {
				background: $background_input_active;
				color: white;
				border-radius: 3px;
				border: 0;
				padding: 0 6px;
				margin: 0px 8px;
				line-height: 36px;
				min-height: 36px;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 14px;
				cursor: pointer;
				min-width: 88px;

				@media screen and (max-width: $small-screen) {
					font-size: 11px;
					margin: 0;
					min-width: 70px;
				}

				@media screen and (min-width: $larg-screen) {
					min-width: 120px;
				}
			}

			button[disabled] {
				cursor: default;
				background-color: $background_disable;
			}

			.submit_btn {
				background-color: $background_submit_btn;
			}

			.md-row {
				height: 60px;
				border-bottom: 1px $border_row solid;

				.color-picker-ico {
					font-size: 40px;
					color: $background_input_active;
					line-height: 60px;
					cursor: pointer;
					outline: none;

					@media screen and (max-width: $small-screen) {
						font-size: 30px;
					}

					@media only screen and (min-width: $small-screen + 1) and (max-width: $larg-screen - 1) {
						font-size: 36px;
					}

				}
			}

			.md-row.fade {
				transition: 0s linear all;
				-webkit-transition: 0s linear all;
			}
			
			.md-row.fade.ng-leave {
				opacity: 1;
				height: 60px;
			}

			.md-row.fade.ng-leave.ng-leave-active {
				opacity: 0;
				height: 0px;
			}

			.md-cell {
				height: 60px;
				line-height: 60px;
				text-align: center;
				font-size: 14px;
				font-weight: bold;

				@media screen and (max-width: $small-screen) {
					font-size: 12px;
				}

				.ico-btn {
					height: 50px;
					width: 74px;
					cursor: pointer;
					outline: none;

					i {
						font-size: 40px;
						color: $white_color;
						line-height: 60px;
					}

                    i.ico-start{
                        line-height: 50px;
                        font-size: 30px;
                    }

					@media screen and (max-width: $small-screen) {
						width: 54px;
					}

					@media only screen and (min-width: $small-screen + 1) and (max-width: $larg-screen - 1) {
						width: 58px;
					}
					
					
				}

				.ico-btn.car-arrive {
					background-color: $background_input_active;
					border-radius: 10px 0 0 10px;
					margin: 5px auto;
				}

				.ico-btn.car-leave {
					background-color: $background_input_active;
					border-radius: 0 10px 10px 0;
					margin: 5px auto;						
				}

				.ico-btn.car-submit {
					width: 80px;
					background-color: $background_input_active;
					margin-right: 2px;
					@include border-radius(10px);		

					&:hover{
						background-color: #620c39;
					}

					@media screen and (max-width: $small-screen) {
						width: 46px;
					}
					
					@media only screen and (min-width: $small-screen + 1) and (max-width: $larg-screen - 1) {
						width: 60px;
					}

					i {
						font-size: 32px;
					}

					strong {
						font-size: 26px;
						color: $white_color;
						line-height: 50px;
					}									
				}
				
				.ico-btn.car-arrive.disabled,
				.ico-btn.car-leave.disabled,
				.ico-btn.car-submit.disabled {
					background-color: #cccccc;
					pointer-events: none;
					cursor: default;
				}
                
                .ico-btn.car-submit.submitted {
					background-color: aqua;
				}

				.sv-delete-ico {
					color: $background_header_type;
					font-size: 40px;
					vertical-align: middle;
					margin-left: 10px;
					cursor: pointer;
					outline: none;

					@media screen and (max-width: $small-screen) {
						margin-left: 0;
					}

					@media only screen and (min-width: $small-screen + 1) and (max-width: $larg-screen - 1) {
						margin-left: 4px;
					}
				}
				.sv-delete-ico.disabled {
					color: $background_disable;
					pointer-events: none;
					cursor: default;
				}

				.label-for-click {
					width: 100%;
					height: 100%;
					display: inline-block;
					cursor: pointer;
				}

			}

            .md-cell.break-heading {
	            line-height: 20px;
                padding-top: 10px;

                .highlight{
                    font-weight: bold;
                    color: $background_input_active;
                }
            }

            .md-cell.break-heading-2 {
	            line-height: 20px;
                padding-top: 0px;

                .highlight{
                    font-weight: bold;
                    color: $background_input_active;
                }
            }

			.md-cell.fix-text {
				line-height: normal;
				padding-top: 10px;
			}

			.md-cell.fix-long-text {
				line-height: normal;
				padding-top: 10px;

				@media only screen and (min-width: $small-screen + 1) and (max-width: 1015px) {
					padding-top: 0px;
				}
			}

            .md-cell.submit-section{
                padding-left: 8px;

                @media only screen and (min-width: $small-screen + 1) and (max-width: 1015px) {
					padding-left: 2px;
				}
            }

			.md-font-size {
				font-size: 16px;
			}

			.sv-md-select {
				height: 36px;
				margin: 0;
			}
		}
	}

	.sv-form-input {
		clear: both;
		float: left;
		height: 50px;
		width: 90%;
		border: 1px solid #dddddd;
		padding-left: 10px;
		border-radius: 10px;
		outline: none;
	}

	.sv-form-input.dropdown-input {
		width: 80%;
		float: none;
		vertical-align: middle;
		font-size: 20px;
		color: $background_input_active;

		@media screen and (max-width: $small-screen) {
			width: 90%;
			padding-left: 0px;
		}

		@media only screen and (min-width: $small-screen + 1) and (max-width: $larg-screen - 1) {
			width: 95%;
			padding-left: 0px;
		}
	}

	.sv-form-input.drop-off-select,
	.sv-form-input.pick-up-select {
		width: 90%;
		float: none;
		vertical-align: middle;
		font-size: 20px;
		color: $background_input_active;

		@media screen and (max-width: $small-screen) {
			width: 70%;
			padding-left: 2px;
		}

		@media only screen and (min-width: $small-screen + 1) and (max-width: $larg-screen - 1) {
			width: 98%;
			padding-left: 0px;
		}
	}
}

#color-dialog, #admin-dialog, #assignee-dialog,
#google-map-dialog, #import-csv-dialog, #import-kml-dialog,
#update-records-dialog{
    md-toolbar {
        background-color: $background_input_active;
    }
    .button-label{
        color: $background_input_active;
        font-weight: bold;
    }
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
    color: $background_input_active;
    font-weight: bold;
}

.color-square {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border: 1px solid #eee;
}

.color-name {
    margin-top: 10px;
	width: 50px;
	height: 20px;
    text-align: center;
    font-weight: bold;
}

.color-cell {
	width: 50px;
	float: left;
	margin-right: 10px;
}

/* RADIO */
label {
	display: inline;
}

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 3px solid $background_input_inactive;
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: $background_input_active;
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 3px solid $background_input_active;
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	//box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.big-radio + label {
	padding: 16px;
}

.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}

/* CHECKBOX */
.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 3px solid $background_input_inactive;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	//box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: $background_input_active;
	border: 3px solid $background_input_active;
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	//content: '\2714';
	content: url('/img/check-ico.png');
	font-size: 14px;
	position: absolute;
	top: -8px;
	left: 3px;
	color: $background_input_active;
}

.big-checkbox + label {
	padding: 16px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 1px;
}


/*LOGIN FORM*/
.login-wrapper {
    overflow-y: auto;
    height: 100%;
    min-height: 100%;
    width: 100%;
    float: left;
    padding-top: 0;
    clear: both;
    z-index: -100;
    color: #fff;
    background-image: url('/img/shore_sweep.jpg');
    background-size: cover;

	.logo-section {
		height: 25%;
		display: table;
		margin: auto;

		.logo {
			display: table-cell;
			vertical-align: bottom;
		}
	}

	.login-section {
		height: 55%;
		display: table;
		margin: auto;
		padding-top: 40px;

		.login-form {
			width: 380px;
			height: auto;
			display: table-cell;
			vertical-align: top;

			.error-message {
				background: rgba(218, 68, 83, 0.7);
				display: block;
				color: #fff;
				font-weight: normal;
				font-style: italic;
				font-size: 12px;
				line-height: 15px;
				border: none;
				margin: 5px 0px 20px 0px;
				padding: 6px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				-ms-border-radius: 2px;
				-o-border-radius: 2px;
				border-radius: 2px;
			}

			.form-input {
				clear: both;
				float: left;
				height: 40px;
				font-size: 15px;
				width: 100%;
				border: 1px solid #dddddd;
				margin-bottom: 20px;
				padding-left: 10px;
				border-radius: 5px;
				outline: none;
			}

			input[type=text], input[type=password] {
				padding: 0 10px;
				width: 100%;
				border: 1px solid #CCC;
				height: 40px;
				line-height: normal;
				font-size: 12px;
				border-radius: 3px;
			}

			button.submit {
			    height: 40px;
				font-size: 15px;
				width: 100%;
				background: #999999;
				color: white;
				font-weight: bold;
				text-transform: uppercase;
				border-style: none;
				outline: none;
				@include border-radius(5px);

				&:hover {
					background: #666666;
				}
			}
		}

	}

	.footer-section {
		height: 15%;
		display: table;
		margin: auto;
		width: 100%;
		padding-bottom: 14px;

		#powered{
			color: #999999;
			font-size: 12px;
			text-align: center;
			display: table-cell;
			vertical-align: bottom;
		}
	}
}

/*OVERRIDE SELECT2 FOR USERNAME*/
.select2-container .select2-choice {
	height: 40px;
	line-height: 40px;	
}

.select2-container .select2-choice .select2-arrow b {
	margin-top: 5px;
}

.select2-results .select2-result-label {
	padding: 12px;
	font-size: 20px;
}

.select2-search input {
	height: 40px !important;
    font-size: 20px;
    background: none;
}

/*UTILiTY*/

.flex-7-custom {
	-webkit-flex: 1 1 7%;
    -ms-flex: 1 1 7%;
    flex: 1 1 7%;
    max-width: 7%;
    max-height: 100%;
    box-sizing: border-box;
}

.flex-14-custom {
	-webkit-flex: 1 1 14%;
    -ms-flex: 1 1 14%;
    flex: 1 1 14%;
    max-width: 14%;
    max-height: 100%;
    box-sizing: border-box;
}


.flex-12-custom {
	-webkit-flex: 1 1 12%;
    -ms-flex: 1 1 12%;
    flex: 1 1 12%;
    max-width: 12%;
    max-height: 100%;
    box-sizing: border-box;
}

.flex-17-custom {
	-webkit-flex: 1 1 17%;
    -ms-flex: 1 1 17%;
    flex: 1 1 17%;
    max-width: 17%;
    max-height: 100%;
    box-sizing: border-box;
}

.flex-23-custom {
	-webkit-flex: 1 1 23%;
    -ms-flex: 1 1 23%;
    flex: 1 1 23%;
    max-width: 23%;
    max-height: 100%;
    box-sizing: border-box;
}

.flex-24-custom {
	-webkit-flex: 1 1 24%;
    -ms-flex: 1 1 24%;
    flex: 1 1 24%;
    max-width: 24%;
    max-height: 100%;
    box-sizing: border-box;
}

.flex-29-custom {
	-webkit-flex: 1 1 29%;
    -ms-flex: 1 1 29%;
    flex: 1 1 29%;
    max-width: 29%;
    max-height: 100%;
    box-sizing: border-box;
}

.flex-53-custom {
	-webkit-flex: 1 1 53%;
    -ms-flex: 1 1 53%;
    flex: 1 1 53%;
    max-width: 53%;
    max-height: 100%;
    box-sizing: border-box;
}

.flex-66-custom {
	-webkit-flex: 1 1 66%;
    -ms-flex: 1 1 66%;
    flex: 1 1 66%;
    max-width: 66%;
    max-height: 100%;
    box-sizing: border-box;
}


.center {
	text-align: center;
}

.left {
	text-align: left;
}

.margin-bottom-0 {
	margin-bottom: 0px;
}

.border-left {
	border-left: 1px $border_row solid;
}

.border-right {
	border-right: 1px $border_row solid;
}

.margin-0 {
	margin: 0;
}

.width-100-per {
	width: 100%;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.width-100-per {
	width: 100%;
}

.padding-left-20 {
	padding-left: 20px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left !important;
    padding: 0 4px 0 4px;
}

.header{
    min-height: 100px;
}
.progress-bar {
    padding: 0px !important;
}

md-progress-linear {
    height: 2px !important;
}

.btn {
    width: 180px;
}

.main-color{
    color: $main-color;
}
md-checkbox.select-all ._md-icon{
    border-color: #ffffff;
}
md-checkbox.md-checked .md-ink-ripple {
    color: $main-color;
}
md-checkbox.md-checked ._md-icon {
    background-color: $main-color;
}
.md-button.md-primary.md-raised {
    background-color: $second-main-color;
}
.md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: $second-main-hover-color;
}
md-checkbox:last-of-type {
    margin-left: 5px !important;
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.text-info{
    font-size: 16px;
}

.img-report{
    width: 90%;
    height: 100px;
}

.img-map{
    width: 90%;
    height: 130px;
}

.ico {
	cursor: pointer;
	outline: none;

	&:hover {
		color: $background_hover_icon;
	}
}
select.field{
    width: 90%;
    height: 50px;
    border-radius: 10px; 
    border: 1px solid #dddddd;
    text-align-last: center;
}
.break-page{
    page-break-before:always;
    page-break-inside: avoid;
}
.search-text{
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    width: 90%;
    padding: 5px;
    outline: none;
}
.select-search-box{
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    text-align-last: center;
    font-size: 16px;
}


.col-md-2{
    width: 20%;
    float: left;
}
.col-md-3{
    width: 30%;
    float: left;
}
.col-md-4{
    width: 40%;
    float: left;
}
.col-md-6{
    width: 60%;
    float: left;
}
.col-md-7{
    width: 70%;
    float: left;
}
.col-md-offset-2{
    margin-left: 20%;
}
.trash-info-section{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    clear: left;
    overflow: hidden;
}
.trash-info-map{
    height: 250px;
    width: 100%;
}
.trash-info-map-image{
    height: 350px;
    width: 100%;
}
.trash-info-map-summary{
    height: 400px;
    width: 100%;
}
.trash-info-title{
    padding-left: 40px;
}
.img-trash-info{
    width: 33%;
    float: left;
}

.img-trash {
    width: 100%; 
    height: 120px;
}

.img-trash:hover {
    width: 750px;
    height: 422px;
    position: fixed;
    top: 88px;
    left: 25px;
}

table, th, td {
   border: 1px solid #cccccc;
}

table {
    width: 100%;
}

th, td {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
    padding-right: 4px;
}
tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {
    background-color: $main-color;
    color: #ffffff;
}

.pointer{
    cursor: pointer;
    outline: none;
}
.ico-sort-asc{
    font-size: 24px;
    vertical-align: bottom;
    height: 60px;
    line-height: 74px;
    color: $main-color;
}
.ico-sort-desc{
    font-size: 24px;
    vertical-align: bottom;
    height: 60px;
    line-height: 52px;
    color: $main-color;
}
.login-name{
    float: right;
    font-size: 22px;
    color: $main-color;
    font-weight: bold;
}

#update-records-dialog{
    md-select{
        margin: 10px 0 20px 0;
    }
    /*label{
        color: $main-color;
        font-weight: bold;
        font-size: 16px;
    }*/
}
.two-lines{
    line-height: 22px !important;
    padding-top: 8px;
}

.num-of-records{
    background-color: #da5c0c;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    padding: 4px 10px;
}
.dialog-error-message{
    margin-bottom: 10px;
    color: #a94442;
    font-style: italic;
    background-color: #f2dede;
    border-color: #ebccd1;
    height: 26px;
    line-height: 26px;
    border-radius: 4px;
    padding-left: 4px;
}