<md-dialog aria-label="Assignee" id="assignee-dialog" ng-cloak style="width: 350px; height: 240px; max-height: 100%">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Assignee</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container style="width:100%; margin-bottom: 0px;">
          <label>User Name</label>
          <input data-ng-model="assignee.username" required>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        <span class="button-label">Cancel</span>
      </md-button>
      <md-button ng-click="create()">
        <span class="button-label">Create</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>