<md-dialog aria-label="Colours" id="color-dialog" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Colours</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="color-cell" data-ng-repeat="color in defaultColors">
          <div class="color-square" data-ng-click="selectColor(color.code)"
               data-ng-style="{'background-color': color.code}"></div>
          <div class="color-name"><span>{{color.name}}</span></div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        <span class="button-label">Cancel</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>