<md-dialog aria-label="Colours" id="color-dialog" ng-cloak style="width: 800px; height: 570px; max-height: 100%">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Map and Images</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <google-map style="height: 300px; width: 500px; float: left" ng-model="trashInfo"></google-map>

        <div style="padding-left: 20px;width: 235px;float: left;">
          <div style="font-weight: bold;font-size: 25px;text-align: center;text-transform: uppercase;">{{trashInfo.status}}</div>
          <div style="font-size: 16px;">Latitude: {{trashInfo.latitude}}</div>
          <div style="font-size: 16px;">Longitude: {{trashInfo.longitude}}</div>
          <div style="font-size: 16px;">Area: {{trashInfo.administrativeArea1}}</div>
          <div style="font-size: 16px;">Section: {{trashInfo.sectionName}}</div>
          <div style="font-size: 16px;">Assignee: {{trashInfo.assigneeName}}</div>
        </div>
      </div>
      <div style="padding-left: 24px;">
        <div style="clear: both;font-size: 16px;">Description: {{trashInfo.description}}</div>
        <div style="font-size: 16px;">Type: {{trashInfo.type}}</div>
      </div>
      <div class="md-dialog-content" style="padding-top: 10px" data-ng-repeat="image in trashInfo.imageList">
        <img data-ng-src="{{image}}" style="width: 240px" />
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        <span class="button-label">Cancel</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>