<md-dialog aria-label="Colours" id="color-dialog" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Map and Images</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <img data-ng-src="{{trashInfo.images}}" />
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        <span class="button-label">Cancel</span>
      </md-button>

      <md-button ng-click="selectColor()">
        <span class="button-label">thaotest</span>
      </md-button>


    </md-dialog-actions>
  </form>
</md-dialog>