<div id="kiosksSurvey" layout="column" layout-sm="column" layout-wrap>

  <md-toolbar>
    <!--<div layout="row" layout-align="center center" class="sv-header">
      <div flex="25">
				<div>
          <img src="../img/logo-changi-small.png"/>
        </div>
			</div>
      <div flex="25">
        <div class="label-title">Interviewer ID</div>
        <div class="info-title overflow-text">{{viewModel.$rootScope.user.username}}</div>
        <hr/>
      </div> 
      <div flex="15">
        <div class="label-title">No of active kiosks</div>
        <div class="info-title">{{viewModel.$rootScope.user.numberOfCounter}}</div>
        <hr/>
      </div>
      <div flex="15">
        <div class="label-title">Terminal</div>
        <div class="info-title">{{viewModel.$rootScope.user.terminalId}}</div>
        <hr/>
      </div>
			<div flex="15">    
        <div class="label-title">Location</div>
        <div class="info-title">{{viewModel.locationName}}</div>
        <hr/>                   
      </div>           	
      <div flex="5" data-ng-controller="LogoutController">
        <span class="logout-section">
          <i class="fa fa-sign-out ico-logout" data-ng-click="viewModel.submit()"></i>
        </span>    
			</div>
    </div>-->

    <div layout="row" layout-align="center center" class="sv-header-note">
      <div class="eachInput clearfix">
        <label for="">CSV File <span class="red">*</span></label>
        <div class="input-file-wrapper">
          <!--<input type="file" name="upload" accept="*" onchange="angular.element(this).scope().viewModel.uploadFile(this)" required />-->
          <input type='file' accept='*' onchange="angular.element(this).scope().viewModel.openFile(event)">
        </div>
      </div>

      <div class="tpl-submit clearfix">
        <!--<a href="/template/trashList.csv"><b><i class="download-excel-template"> Trash.csv </i></b></a>-->
        <button type="button" data-ng-click="viewModel.importCSVFile()" class="b-f-submit">Import</button>
      </div>

      <!--<div flex="5" data-ng-controller="LogoutController">
        <span class="logout-section">
          <i class="fa fa-sign-out ico-logout" data-ng-click="viewModel.submit()"></i>
        </span>
      </div>-->

    </div>
</md-toolbar>
  
  <md-content flex layout-padding>
      <md-card>
          <md-card-content>		
            <div layout="row" layout-align="center center" class="md-row sv-header-type">
              <div flex="5" class="md-cell border-right">ID</div>
              <div flex="15" class="md-cell border-right">Trashout ID</div>
              <div flex="10" class="md-cell border-right">Latitude</div>
              <div flex="10" class="md-cell border-right">Longitude</div>
              <div flex="15" class="md-cell border-right">Description</div>
              <div flex="10" class="md-cell border-right">Status</div>
              <div flex="10" class="md-cell border-right">Picture</div>
              <div flex="15" class="md-cell border-right">Comment</div>
              <div flex="10" class="md-cell border-right">Assignee</div>
            </div>

            <div layout="row" layout-align="center center" data-ng-repeat="trashInfo in viewModel.trashInformationList" class="md-row"
                 data-ng-click="viewModel.showGoogleMapDialog(trashInfo, $event)" style="cursor: pointer;">
              <div flex="5" class="md-cell border-right">{{trashInfo.id}}</div>
              <div flex="15" class="md-cell border-right">{{trashInfo.trashId}}</div>              
              <div flex="10" class="md-cell border-right">{{trashInfo.latitude}}</div>
              <div flex="10" class="md-cell border-right">{{trashInfo.longitude}}</div>
              <div flex="15" class="md-cell border-right">{{trashInfo.description}}</div>
              <div flex="10" class="md-cell border-right">
                <select name="status" data-ng-model="trashInfo.status" style="width: 90%;height: 50px;border-radius: 10px; border: 1px solid #dddddd;">
                  <option value="Unconfirmed">Unconfirmed</option>
                  <option value="Confirmed">Confirmed</option>
                  <option value="Cleaned">Cleaned</option>
                </select>
              </div>
              <div flex="10" class="md-cell border-right">
                <img data-ng-src="{{trashInfo.firstImage}}" style="width:80%; height: 80%"/>
              </div>
              <div flex="15" class="md-cell border-right">
                <input type="text" class="comment" data-ng-model="trashInfo.comment" placeholder="Comment" />
              </div>
              <div flex="10" class="md-cell border-right">{{trashInfo.assignedTo}}</div>

            </div>
          </md-card-content>    
        </md-card>				
		</md-content>
</div>

