<div id="kiosksSurvey" layout="column" layout-sm="column" layout-wrap>

  <md-toolbar class="header">
    <div layout="row" layout-align="center center" class="sv-header">
      <div flex="20">
        <div>
          <img src="../img/lake-lanier-logo.png" style="height:50px;"/>
        </div>
      </div>
      <div flex="70">
        <div layout="row" layout-align="center center" class="sv-header-note">
          <div class="eachInput clearfix">
            <label for="">CSV File <span class="red">*</span></label>
            <div class="input-file-wrapper">
              <input type='file' accept='*' onchange="angular.element(this).scope().viewModel.openFile(event)">
            </div>
          </div>

          <div class="tpl-submit clearfix">
            <a href="/template/trashList.csv"><b><i class="download-excel-template"> Trash.csv </i></b></a>
            <button type="button" data-ng-click="viewModel.importCSVFile()" class="b-f-submit">Import</button>
            <button type="button" data-ng-click="viewModel.addAssignee()">Add Assignee</button>
            <button type="button" data-ng-click="viewModel.addAdmin()">Add Admin</button>
            <button type="button" data-ng-click="viewModel.updateRecord()">Update</button>
          </div>
        </div>
      </div>      
      <div flex="10" data-ng-controller="LogoutController">
        <span class="logout-section">
          <i class="fa fa-sign-out ico-logout" data-ng-click="viewModel.submit()"></i>
        </span>
      </div>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
    <div class="progress-bar" data-ng-style="{'opacity': viewModel.showSpinner ? '1':'0'}">
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <md-card>
      <md-card-content>
        <div layout="row" layout-align="center center" class="md-row sv-header-type">
          <div flex="5" class="md-cell border-right"></div>
          <div flex="5" class="md-cell border-right">ID</div>
          <!--<div flex="15" class="md-cell border-right">Trashout ID</div>
          <div flex="10" class="md-cell border-right">Latitude</div>
          <div flex="10" class="md-cell border-right">Longitude</div>-->
          <div flex="15" class="md-cell border-right">Description</div>
          <div flex="10" class="md-cell border-right">Status</div>
          <div flex="10" class="md-cell border-right">Picture</div>
          <div flex="10" class="md-cell border-right">Size</div>
          <div flex="10" class="md-cell border-right">Types</div>
          <div flex="10" class="md-cell border-right">Section</div>
          <div flex="10" class="md-cell border-right">Comment</div>
          <div flex="10" class="md-cell border-right">Assignee</div>
        </div>

        <div layout="row" layout-align="center center" data-ng-repeat="trashInfo in viewModel.trashInformationList" class="md-row">
          <div flex="5" class="md-cell border-right">
            <md-checkbox data-ng-model="trashInfo.isSelected"></md-checkbox>
          </div>
          <div flex="5" class="md-cell border-right">{{trashInfo.id}}</div>
          <!--<div flex="15" class="md-cell border-right">{{trashInfo.trashId}}</div>
          <div flex="10" class="md-cell border-right">{{trashInfo.latitude.substring(0, 14)}}</div>
          <div flex="10" class="md-cell border-right">{{trashInfo.longitude.substring(0, 14)}}</div>-->
          <div flex="15" class="md-cell border-right text-overflow">{{trashInfo.description}}</div>
          <div flex="10" class="md-cell border-right">
            <select name="status" data-ng-model="trashInfo.status" style="width: 90%;height: 50px;border-radius: 10px; border: 1px solid #dddddd;">
              <option value="Unconfirmed">Unconfirmed</option>
              <option value="Confirmed">Confirmed</option>
              <option value="Cleaned">Cleaned</option>
            </select>
          </div>
          <div flex="10" class="md-cell border-right" data-ng-click="viewModel.showGoogleMapDialog(trashInfo, $event)" style="cursor: pointer;">
            <img data-ng-src="{{trashInfo.imageList[0]}}" style="width:80%; height: 80%" />
          </div>
          <div flex="10" class="md-cell border-right">{{trashInfo.size}}</div>
          <div flex="10" class="md-cell border-right">{{trashInfo.type}}</div>
          <div flex="10" class="md-cell border-right">{{trashInfo.section}}</div>
          <div flex="10" class="md-cell border-right">
            <input type="text" class="comment" data-ng-model="trashInfo.comment" placeholder="Comment" />
          </div>
          <div flex="10" class="md-cell border-right"><!--{{trashInfo.assignedTo}}-->
            <select name="status" data-ng-model="trashInfo.assignedTo" style="width: 90%;height: 50px;border-radius: 10px; border: 1px solid #dddddd;">
              <option value="0">Cristian</option>
              <option value="1">Mary</option>
              <option value="2">David</option>
            </select>
          </div>

        </div>       
      </md-card-content>
    </md-card>
  </md-content>

</div>


