<form name="loginForm" class="login-form" data-ng-submit="viewModel.submit()">
    <label class="error-message" data-ng-show="viewModel.errorMessage.length > 0">{{ viewModel.errorMessage }}</label>

  	<div class="margin-bottom-20">
      <input type="text" id="login-username" class="form-input" placeholder="Username" name="username" data-ng-model="viewModel.user.username" required>
    </div>

    <div class="margin-bottom-20">
      <input type="password" id="login-password" class="form-input" placeholder="Password" name="password" data-ng-model="viewModel.user.password" required autocomplete="off">
    </div>

    <div>
      <button type="submit" value="submit" class="submit" data-ng-disabled="loginForm.$invalid" id="btnLogin">Login</button>
    </div>
</form>
