<div id="mapAndTrash">
  <div id="summary-page" class="trash-info-section">
    <div class="title">{{viewModel.selectedTrashInformationList.length}} Records Selected</div>
    <google-map class="trash-info-map-summary" ng-markers="viewModel.markers"></google-map>
    <div style="overflow-x:auto; margin-top:20px;">
      <table cellpadding="0" cellspacing="0" style="table-layout: fixed">
        <thead>
          <tr>
            <th style="width: 50px">ID</th>
            <th>Section</th>
            <th>Description</th>
            <th>Type</th>
            <th>Latitude</th>
            <th>Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="trashInfo in viewModel.selectedTrashInformationList">
            <td align="center"><b>{{trashInfo.id}}</b></td>
            <td>{{trashInfo.sectionName}}</td>
            <td>{{trashInfo.description}}</td>
            <td>{{trashInfo.type}}</td>
            <td>{{trashInfo.latitude}}</td>
            <td>{{trashInfo.longitude}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="trash-info-section" data-ng-class="{'break-page': $index % 2 == 0}" data-ng-repeat="trashInfo in viewModel.selectedTrashInformationList">
    <div class="col-md-6">
      <div class="title">{{trashInfo.size[0]}}00{{trashInfo.id}} </div>
      <google-map class="trash-info-map" ng-model="trashInfo"></google-map>
      <div class="text-info">Description: {{trashInfo.description}}</div>
      <div class="text-info">Type: {{trashInfo.type}}</div>
      <div>
        <div class="img-trash-info" data-ng-repeat="image in trashInfo.images">
          <img class="img-report" data-ng-src="{{image}}" />
        </div>
      </div>
    </div>

    <div class="col-md-4 trash-info-title">
      <div class="title">{{trashInfo.statusName}}</div>
      <div class="text-info">Latitude: {{trashInfo.latitude}}</div>
      <div class="text-info">Longitude: {{trashInfo.longitude}}</div>
      <div class="text-info">Area: {{trashInfo.administrativeArea1}}</div>
      <div class="text-info">Section: {{trashInfo.sectionName}}</div>
      <div class="text-info">Assignee: {{trashInfo.assigneeName}}</div>
    </div>
  </div>
</div>