<md-dialog aria-label="update-records" id="update-records-dialog" ng-cloak style="width: 400px; height: 400px; max-height: 100%">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update Records</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Status</label>
          <md-select data-ng-model="trashInfo.status" class="md-no-underline">
            <md-option value="Unconfirmed">Unconfirmed</md-option>
            <md-option value="Confirmed">Confirmed</md-option>
            <md-option value="Cleaned">Cleaned</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Assignee</label>
          <md-select data-ng-model="trashInfo.assigneeId" class="md-no-underline">
            <md-option data-ng-repeat="assignee in viewModel.assigneeList" value="{{assignee.id}}">{{assignee.username}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Comment</label>
          <input data-ng-model="trashInfo.comment">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        <span class="button-label">Cancel</span>
      </md-button>
      <md-button ng-click="update()">
        <span class="button-label">Update</span>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>